.container{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 1.5rem;
}
.accomodation{
    position: relative;
}

.title{
    display: block;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.5rem;
}
.accommodationImage{
    width: calc(15vw + 20rem);
    height: calc(15vw + 10rem);
    margin-top: 0.5rem;
    border-radius: 0.5rem;
}
.reference{
    margin-top: 0.5rem;
    display: flex;
    gap: 1rem;
    color: var(--themeGray);
}
.bigTopTipContainer{
    display: none;
}
.topTip{
    padding: 1rem;
    margin: 1rem 1rem;
    display: flex;
    gap: 1rem;
    background-color: var(--themeGrayBg);
}
.tipImage{
    border-radius: 50%;
}
.tipText span:nth-child(1){
    color: var(--themeBlue);
    font-weight: bold;
}
.tipText p:nth-child(2){
    color: var(--themeGray);
}
.container p:nth-child(5){
    margin-top: 3rem;
    color: var(--themeGray);
}
.redirection{
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}


.rightSide{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.rightSide > :nth-child(2){
    text-decoration: none;
    color: black;
}

.rightSide > span:nth-child(1){
    font-weight: bold;
    color: var(--themeBlue);
}

.price{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
.price:hover{
    cursor: pointer;
    text-decoration: underline;
}

.price span{
    font-weight: bold;
}

.amount{
    font-weight: bold;
    color: black;
}

.redirectIcon{
    background-color: var(--themeGrayBg);
    border-radius: 50%;
    padding: 0.1rem;
}
.button{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    height: 3rem;
    padding: 0 1rem;
    border-radius: 0.5rem;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    background-color: var(--themeBlue);
  }

  @media screen and (min-width: 1025px) {
    .container{
        align-items: center;
    }
    .accomodation{
        width: calc(15vw + 20rem);;
    } 
    .topTip{
        display: none;
    }
    .bigTopTipContainer{
        position: absolute;
        bottom: 0;
        display: flex;
        gap: 1rem;
        align-items: center;
    
    }
    .bigTopTip{
        background-color: var(--themeGrayBg);
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        width: 18rem;
        padding: 2rem;
        border-radius: 0.5rem;
    }
    .accomodation:nth-child(odd) .bigTopTipContainer {
        right: -24rem;
    }
    
    
    .accomodation:nth-child(even) .bigTopTipContainer {
        left: -24rem;
    }
    .accomodation:nth-child(even) .arrow {
        position: absolute;
        right: -4rem;
        transform: rotate(180deg);
    }
}
    
  