.container{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.agency{
    display: flex;
    flex-direction: column;
    background-color: var(--themeGrayBg);
    border: 1px solid rgb(238, 238, 238);
    margin-right: 1.5rem;
    padding: 1rem;
    border-radius: 0.5rem;
}
.info{
    display: flex; 
}

.info > :nth-child(2){
    margin-top: -1rem;
    margin-left: -2rem;
}
.image{
    border-radius: 50%;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}
.rightSide{
    display: flex;
    flex-direction: column;
}
.rightSide > :nth-child(1){
    margin-left: 1.5rem;
    font-weight: bold;
}
.rightSide > :nth-child(2){
    color: var(--themeGray);
    margin-top: -1rem;
}
.buttonContainer{
    display: flex;
    margin-top: -2rem;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: max-content;
    height: 3rem;
    padding: 0 2rem;
    border: 0;
    background-color: var(--themeBlue);
    color: white;
    border-radius: 0.5rem;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}

