.container{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem ;
}
.category{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.categoryImageContainer{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.categoryImage{
    border-radius: 1rem;
    width: calc(10vw + 10rem);
    height: calc(10vw + 5rem);
}

.categoryTitle{
   font-family: 'Bebas Neue', sans-serif; 
   font-size: 1.5rem;
   font-weight: 400;
}




@media screen and (min-width: 998px) {
    .container{
        flex-direction: row;
        justify-content: space-between;
    }
    .categoryTitle{
        position: absolute;
        bottom: 1rem;
        left: 1rem;
        color: white;
    }
    .categoryIcon{
        display: none;
    }
}
@media screen and (min-width: 1050px) {
    .categoryImage{
        width: calc(10vw + 15rem);
        height: calc(10vw + 7rem);
    } 
    .categoryTitle{
        font-size: 1.6rem;
    }
}
@media screen and (min-width: 1065px) {
    .categoryImage{
        width: calc(10vw + 13rem);
        height: calc(10vw + 7rem);
    } 
    .categoryTitle{
        font-size: 1.8rem;
    }
    
}

@media screen and (min-width: 1278px) {
    .categoryImage{
        width: calc(10vw + 17rem);
        height: calc(10vw + 8rem);
    }
    .categoryTitle{
        font-size: 2rem;
    }
    
}