.image{
    margin-bottom: 1rem;
}
.title{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2.3rem;
    padding: 1.5rem;
}
.description{
    display: flex;
    justify-content: center;
    color: var(--themeGray);
    padding: 0 1.5rem;
    margin-bottom: 2rem;
}
.subtitle{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2.3rem;
}
