.container{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    margin-bottom: -2rem;
}

.eventImage{
    cursor: pointer;
    border-radius: 0.5rem;

}
.description{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.eventTitle{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2rem;
    color: var(--themeBlue);
}
.eventTitle:hover{
    cursor: pointer;
    text-decoration: underline;
}

.date, .place{
    color: var(--themeGray);
}
