.container{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    margin-bottom: -2rem;
}

.eventImage{
    width: calc(35vw + 15rem);
    height: auto;
    cursor: pointer;
    border-radius: 0.5rem;

}
.description{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.eventTitle{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2rem;
    color: var(--themeBlue);
}
.eventTitle:hover{
    cursor: pointer;
    text-decoration: underline;
}

.date, .place{
    color: var(--themeGray);
}
@media screen and (min-width: 1015px) {
    .container{
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .eventImage{
        width: calc(10vw + 15rem);
        height: calc(5vw + 10rem);
    }
}
