.heroVideo{
    width: 100%;
    height: 70vh;
    object-fit: cover;
}

.mainText{
    padding: 1.5rem;
    
}
.mainText span:nth-child(1){
    display: grid;
    place-items: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: calc(1vw + 2.3rem);
}

.mainText span:nth-child(2){
    color: var(--themeGray);
}

.container span:nth-child(4){
    display: grid;
    place-items: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2.3rem;
}

.eventFiltersContainer{
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.select{
    width: 100%;
}

.buttonWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}
.buttonWrapper span{
    color: var(--themeGray);
}
.button{
    width: max-content;
    padding: 1rem;
    border-radius: 0.5rem;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    background-color: var(--themeBlue);
  }

  @media screen and (min-width: 775px) {
    .heroVideo{
        height: 90vh;
    }
    .mainText span:nth-child(1){
        font-size: calc(2vw + 2.3rem);
    }
  }
@media screen and (min-width: 1015px) {
    .title{
        display: flex;
        justify-content: flex-start;
        margin-left: 1.5rem;
        margin-top: 3rem;
    }
    .eventFiltersContainer{
        position: relative;
        flex-direction: row;
    }
    .eventFiltersContainer > * {
        flex: 1;
    }
    .buttonWrapper{
        margin: 2rem 2rem;
    }
    .calendar{
        position: absolute;
        top: 5rem;
        right: 2rem;
        background-color: var(--themeGrayBg);
        padding: 1rem;
        border-radius: 0.5rem;
    }
}