.container{
    position: relative;
    padding: 1.5rem;
}

.image{
    width: calc(86vw + 1rem);
    height: calc(10vw + 20rem);
    border-radius: 1rem;
    transform: scaleX(-1)
}

.text{
    position: absolute;
    bottom: 3rem;
    padding: 2rem;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.5rem;
}

.text span:nth-child(2){
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 505;
}

.button{
    width: max-content;
    padding: 1rem;
    border-radius: 0.5rem;
    border: none;
    color: black;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    background-color: var(--themeBlue);
  }

  @media screen and (min-width: 768px) {
    .image{
        width: calc(95vw + 0rem);
    }
  }

  @media screen and (min-width: 1000px) {
    .text{
        font-size: 2rem;
        bottom: 9rem;
        left: 3rem;
    }
  }