.container > :not(:first-child){
    padding: 1.5rem;
}
.container > :nth-child(1){
    width: 100%;
    height: 80vh;
}
.title{
    display: flex;
    justify-content: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2.3rem;
    margin-bottom: -2rem;
}
.description{
    color: var(--themeGray);
}