.container{
    position: relative;
}

.hero{
    position: relative;
}

.heroImage{
    position: relative;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}

.heroText{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 5rem;
    left: 10rem;
}

.heroText span:nth-child(1){
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.heroText span:nth-child(2){
    font-family: 'Kalam', cursive;
    margin-left: 1rem;
    font-size: 3rem;
    font-weight: bold;
}

.main {
    padding: 1.5rem;
    line-height: 1.67;
    position: relative;
}

.main span{
    font-size: 1.25rem;
    font-weight: bold;
}

.main p{
    margin-top: 1rem;
    color: var(--themeGray);
}

.videoContainer{
    position: relative;
}

.video{
    margin-top: 1rem;
    border-radius: 0.5rem;
    height: 20rem;
    width: 35rem;
}

.playVideo{
    display: flex;
    gap: 0.5rem;
    position: absolute;
    bottom: 2rem;
    left: 1rem;
    color: white;
    cursor: pointer;
}