.container >:not(:first-child){
    position: relative;
    padding: 1.5rem;
}
.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 2rem;
}
.heroImage{
    width: 100%;
    height: calc(40vw + 10rem);
    position: relative;
}
.heroText{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 14rem;
}
.heroText span:nth-child(1){
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}
.heroText span:nth-child(2){
    font-family: 'Kalam', cursive;
    margin-left: 1rem;
    font-size: 3rem;
    font-weight: bold;
}
.title{
    font-weight: bold;
    font-size: 1.3rem;
}
.description{
    color: var(--themeGray);
}
.videoContainer{
    position: relative;
    font-weight: bold;
}
.video{
    margin-top: 1rem;
    border-radius: 0.5rem;
    width: 100%;
    height: calc(30vh + 10rem);
    object-fit: cover;
    width: calc(20vw + 30rem);
}

.playVideo{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    color: white;
    cursor: pointer;
}

@media screen and (min-width: 1030px) {
   .heroImage{
    height: 90vh;
   }
   .heroText span:nth-child(1){
    font-size: 3rem;
    }
    .heroText span:nth-child(2){
    font-size: 4rem;
    }
}

@media screen and (min-width: 1230px){
    .main{
        display: flex;
        align-items: flex-start;
    }
    .video{
        object-fit: contain;
    }
    .playVideo{
        left: 6rem;
    }
}

