.heroImage{
    width: 100%;
    height: 50vh;
    object-fit: cover;
}
.title{
    margin-top: 2rem;
    font-family: 'Bebas Neue', sans-serif;
    font-size: calc(1vw + 2.3rem);
    display: grid;
    place-items: center;
    
}

.description{
    display: grid;
    place-items: center;
    color: var(--themeGray);
}
.main{
    padding: 1.5rem;
}
.select{
    margin-right: 1.5rem;
}
@media screen and (min-width: 775px) {
    .heroImage{
        height: 90vh;
    }
   
  }


